################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Interpose.Core/v15
/Interpose.Core.Tests/obj
/Interpose.Core.Tests/bin
/Interpose.Core/obj
/Interpose.Core/bin/
/Interpose.Core/bin
/Interpose.Core.Tests/bin
/Interpose.Core/build-nuget.cmd
/Interpose.Core.Handlers/bin
/Interpose.Core.Handlers/obj
/build-nuget.cmd
/Sample/bin
/Sample/obj
/.vs